body{
    background-color: #dedede;
    color: #2f1c6a;
}
.parallax-window {
    min-height: 60vh;
    background: transparent;
}
.bg-dark-blue{
    background-color: #1a237e !important;
}
.bg-blue{
    background-color: #1565c0  !important;
}

.bg-gradasi{
    background: linear-gradient(383deg, #2992e4 0%, #3551a8 75%);
}

.card{
    box-shadow: 2px 2px 2px 0px #b8b8b8;
}

.h-100{
    height: 100%;
}

footer p{
    color: #afd5ff;
}
footer p a{
    text-decoration: none !important;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%232f1c6a' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>") !important;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232f1c6a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.banner{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lanjut-baca{
    position: absolute;
    bottom: 0;
    right: 20px;
}

#keuntungan .card.bg-gradasi{
    height: 403px;
}
#keuntungan .card-content{
    height: 320px;
}

.top-border{
    border-top: 15px solid #1565c0;
}

.bg-promo{
    background-image: url(helm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    filter: blur(5px);
}
.p-relative{
    position: relative;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgb(202 202 202 / 50%);
    color: white;
    padding: 20px;
}
@media(max-width: 768px){
    .carousel-item{
        min-height: 120px;
    }
    .carousel-inner p{
        max-width: 75%;
        margin: auto
    }
}