html, body{
    height: 100%;
}
body{
    background: url(virus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container-main{
    padding-top: 65px;
    padding-bottom: 65px;
    height: 100%;
    display: none;
}

.jumbotron{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: calc(100vh - 166px);
    overflow-y: auto;
}

.arrow-right{
    height: 17px;
    vertical-align: baseline;
}

.card-gejala .card{
    height: 100%;
}

.img-container img{
    width: 100%;
}

.btn-link{
    text-decoration: none !important;
    color: #ae0000 !important;
    white-space: normal !important;
    text-align: left !important;
}

@media(max-width: 768px){
    .btn.btn-danger{
        font-size: 15px;
    }
    .arrow-right{
        height: 12px;
        vertical-align: unset;
    }
}