html, body{
    height: 100%;
}
body{
    background: url(virus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container-main{
    padding-top: 65px;
    padding-bottom: 65px;
    height: 100%;
    display: none;
}

.jumbotron{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: calc(100vh - 166px);
    overflow-y: auto;
}

.arrow-right{
    height: 17px;
    vertical-align: baseline;
}

.card-full-height .card{
    height: 100%;
}

.img-container img{
    width: 100%;
}

.btn-link{
    text-decoration: none !important;
    color: #ae0000 !important;
    white-space: normal !important;
    text-align: left !important;
}

.sayur-bg{
    background: url('sayur.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rokok-bg{
    background: url('rokok.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tidur-bg{
    background: url('sleep.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.positif-bg{
    background: url('positive.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.olahraga-bg{
    background: url('olahraga.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bersih-bg{
    background: url('clean.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-pola-hidup .card-body{
    background: rgba(0,0,0,0.7);
    color: #FFFFFF !important;
    border-radius: 2px;
    height: 180px;
}


@media(max-width: 768px){
    .btn.btn-danger{
        font-size: 15px;
    }
    .arrow-right{
        height: 12px;
        vertical-align: unset;
    }
}