$orange: #fd7e14;
$white: #ffffff;
$grey: rgba(0,0,0,.55);

html, body{
  width: 100%;
  height: 100%;
}

.navbar{
  padding: 10px;
}

.bg-orange{
  background-color: $orange;
  color: $white;
}
.navbar-brand, .nav-link{
  color: $white;

  &:hover{
    color: $grey;
  }
}
.search-input{
  background: url(../images/search-icon.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5px;
  border-radius: 0;
  
  box-shadow: none;
  outline: none;
  padding-left: 40px;
}
.card-country-list{
  box-shadow: 2px 2px 4px $grey;
  #country-list-item{
    max-height: 82vh;
    overflow-y: auto;
  }
}
#covid-map{
  width: 100%;
  height: 90vh;
  box-shadow: 2px 2px 4px $grey;
}